<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CustomerMaintenanceSystem.Properties.Settings.CustomerMaintenanceSystemDatabaseConnectionString"
        connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=CustomerMaintenanceSystemDatabase;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="CustomerMaintenanceSystemDatabaseEntities" connectionString="metadata=res://*/CustomerMaintenanceSystemDataModel.csdl|res://*/CustomerMaintenanceSystemDataModel.ssdl|res://*/CustomerMaintenanceSystemDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV12;initial catalog=CustomerMaintenanceSystemDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>